:root {
  --color-iris: #4d5ae5;
  --color-ocean: #404bbf;
  --color-navy-blue: #2e2f42;
  --color-green: #31d0aa;
  --color-slate: #434455;
  --color-light-slate: #8e8f99;
  --color-cornflower: #e7e9fc;
  --color-cloud: #f4f4fd;
  --color-navy-blue-modal: #2e2f42;
  --color-grey: #2e2f42;
  --color-white: #ffffff;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-style: normal;
  background-color: var(--color-white);
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

/* Logo */
.logo {
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-iris);
}

.studio-header-logo {
  color: var(--color-navy-blue);
}

.web-footer-logo,
.studio-footer-logo {
  line-height: 1.16;
}

.studio-footer-logo {
  color: var(--color-cloud);
}

/* Menu nav, address */

.header-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-navy-blue);
}

.address-link {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-slate);
}
.header-link:is(:hover, :focus),
.address-link:is(:hover, :focus) {
  color: var(--color-ocean);
}

/* Hero */
.hero {
  background-color: var(--color-navy-blue);
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--color-white);
}

.hero-btn {
  background-color: var(--color-iris);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--color-white);
  border-radius: 4px;
}

.hero-btn:is(:hover, :focus) {
  background-color: var(--color-ocean);
}

/* Our advantages, team, portfolio */

.advantages-title,
.member-title,
.portfolio-title {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-navy-blue);
}

.portfolio-title {
  font-weight: inherit;
}

.advantages-text,
.member-text,
.portfolio-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-slate);
}

/* What are we doing, Our team */
.team {
  background-color: var(--color-cloud);
}

.second-section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color-navy-blue);
}

.portfolio-link:is(:hover, :focus) {
  background-color: var(--color-ocean);
}

.footer {
  background-color: var(--color-navy-blue);
}

.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-cornflower);
}

/* Filter buttons */

.filter-btn {
  background-color: var(--color-cornflower);
  font-family: inherit;
  font-weight: inherit;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--color-iris);
  border: 1px solid var(--color-cornflower);
  border-radius: 4px;
  cursor: pointer;
}

.filter-btn:is(:hover, :focus) {
  background-color: var(--color-ocean);
  color: var(--color-white);
}
